
Arduino/Trosso2122ArduinoMega_copy_20221004154622/.theia/launch.json
node_modules/.package-lock.json
node_modules/@babel/runtime/LICENSE
node_modules/@babel/runtime/package.json
node_modules/@babel/runtime/README.md
node_modules/@babel/runtime/helpers/applyDecoratedDescriptor.js
node_modules/@babel/runtime/helpers/applyDecs.js
node_modules/@babel/runtime/helpers/applyDecs2203.js
node_modules/@babel/runtime/helpers/arrayLikeToArray.js
node_modules/@babel/runtime/helpers/arrayWithHoles.js
node_modules/@babel/runtime/helpers/arrayWithoutHoles.js
node_modules/@babel/runtime/helpers/assertThisInitialized.js
node_modules/@babel/runtime/helpers/AsyncGenerator.js
node_modules/@babel/runtime/helpers/asyncGeneratorDelegate.js
node_modules/@babel/runtime/helpers/asyncIterator.js
node_modules/@babel/runtime/helpers/asyncToGenerator.js
node_modules/@babel/runtime/helpers/awaitAsyncGenerator.js
node_modules/@babel/runtime/helpers/AwaitValue.js
node_modules/@babel/runtime/helpers/checkPrivateRedeclaration.js
node_modules/@babel/runtime/helpers/classApplyDescriptorDestructureSet.js
node_modules/@babel/runtime/helpers/classApplyDescriptorGet.js
node_modules/@babel/runtime/helpers/classApplyDescriptorSet.js
node_modules/@babel/runtime/helpers/classCallCheck.js
node_modules/@babel/runtime/helpers/classCheckPrivateStaticAccess.js
node_modules/@babel/runtime/helpers/classCheckPrivateStaticFieldDescriptor.js
node_modules/@babel/runtime/helpers/classExtractFieldDescriptor.js
node_modules/@babel/runtime/helpers/classNameTDZError.js
node_modules/@babel/runtime/helpers/classPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/classPrivateFieldGet.js
node_modules/@babel/runtime/helpers/classPrivateFieldInitSpec.js
node_modules/@babel/runtime/helpers/classPrivateFieldLooseBase.js
node_modules/@babel/runtime/helpers/classPrivateFieldLooseKey.js
node_modules/@babel/runtime/helpers/classPrivateFieldSet.js
node_modules/@babel/runtime/helpers/classPrivateMethodGet.js
node_modules/@babel/runtime/helpers/classPrivateMethodInitSpec.js
node_modules/@babel/runtime/helpers/classPrivateMethodSet.js
node_modules/@babel/runtime/helpers/classStaticPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/classStaticPrivateFieldSpecGet.js
node_modules/@babel/runtime/helpers/classStaticPrivateFieldSpecSet.js
node_modules/@babel/runtime/helpers/classStaticPrivateMethodGet.js
node_modules/@babel/runtime/helpers/classStaticPrivateMethodSet.js
node_modules/@babel/runtime/helpers/construct.js
node_modules/@babel/runtime/helpers/createClass.js
node_modules/@babel/runtime/helpers/createForOfIteratorHelper.js
node_modules/@babel/runtime/helpers/createForOfIteratorHelperLoose.js
node_modules/@babel/runtime/helpers/createSuper.js
node_modules/@babel/runtime/helpers/decorate.js
node_modules/@babel/runtime/helpers/defaults.js
node_modules/@babel/runtime/helpers/defineEnumerableProperties.js
node_modules/@babel/runtime/helpers/defineProperty.js
node_modules/@babel/runtime/helpers/extends.js
node_modules/@babel/runtime/helpers/get.js
node_modules/@babel/runtime/helpers/getPrototypeOf.js
node_modules/@babel/runtime/helpers/identity.js
node_modules/@babel/runtime/helpers/inherits.js
node_modules/@babel/runtime/helpers/inheritsLoose.js
node_modules/@babel/runtime/helpers/initializerDefineProperty.js
node_modules/@babel/runtime/helpers/initializerWarningHelper.js
node_modules/@babel/runtime/helpers/instanceof.js
node_modules/@babel/runtime/helpers/interopRequireDefault.js
node_modules/@babel/runtime/helpers/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/isNativeFunction.js
node_modules/@babel/runtime/helpers/isNativeReflectConstruct.js
node_modules/@babel/runtime/helpers/iterableToArray.js
node_modules/@babel/runtime/helpers/iterableToArrayLimit.js
node_modules/@babel/runtime/helpers/iterableToArrayLimitLoose.js
node_modules/@babel/runtime/helpers/jsx.js
node_modules/@babel/runtime/helpers/maybeArrayLike.js
node_modules/@babel/runtime/helpers/newArrowCheck.js
node_modules/@babel/runtime/helpers/nonIterableRest.js
node_modules/@babel/runtime/helpers/nonIterableSpread.js
node_modules/@babel/runtime/helpers/objectDestructuringEmpty.js
node_modules/@babel/runtime/helpers/objectSpread.js
node_modules/@babel/runtime/helpers/objectSpread2.js
node_modules/@babel/runtime/helpers/objectWithoutProperties.js
node_modules/@babel/runtime/helpers/objectWithoutPropertiesLoose.js
node_modules/@babel/runtime/helpers/OverloadYield.js
node_modules/@babel/runtime/helpers/possibleConstructorReturn.js
node_modules/@babel/runtime/helpers/readOnlyError.js
node_modules/@babel/runtime/helpers/regeneratorRuntime.js
node_modules/@babel/runtime/helpers/set.js
node_modules/@babel/runtime/helpers/setPrototypeOf.js
node_modules/@babel/runtime/helpers/skipFirstGeneratorNext.js
node_modules/@babel/runtime/helpers/slicedToArray.js
node_modules/@babel/runtime/helpers/slicedToArrayLoose.js
node_modules/@babel/runtime/helpers/superPropBase.js
node_modules/@babel/runtime/helpers/taggedTemplateLiteral.js
node_modules/@babel/runtime/helpers/taggedTemplateLiteralLoose.js
node_modules/@babel/runtime/helpers/tdz.js
node_modules/@babel/runtime/helpers/temporalRef.js
node_modules/@babel/runtime/helpers/temporalUndefined.js
node_modules/@babel/runtime/helpers/toArray.js
node_modules/@babel/runtime/helpers/toConsumableArray.js
node_modules/@babel/runtime/helpers/toPrimitive.js
node_modules/@babel/runtime/helpers/toPropertyKey.js
node_modules/@babel/runtime/helpers/typeof.js
node_modules/@babel/runtime/helpers/unsupportedIterableToArray.js
node_modules/@babel/runtime/helpers/wrapAsyncGenerator.js
node_modules/@babel/runtime/helpers/wrapNativeSuper.js
node_modules/@babel/runtime/helpers/wrapRegExp.js
node_modules/@babel/runtime/helpers/writeOnlyError.js
node_modules/@babel/runtime/helpers/esm/applyDecoratedDescriptor.js
node_modules/@babel/runtime/helpers/esm/applyDecs.js
node_modules/@babel/runtime/helpers/esm/applyDecs2203.js
node_modules/@babel/runtime/helpers/esm/arrayLikeToArray.js
node_modules/@babel/runtime/helpers/esm/arrayWithHoles.js
node_modules/@babel/runtime/helpers/esm/arrayWithoutHoles.js
node_modules/@babel/runtime/helpers/esm/assertThisInitialized.js
node_modules/@babel/runtime/helpers/esm/AsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/asyncGeneratorDelegate.js
node_modules/@babel/runtime/helpers/esm/asyncIterator.js
node_modules/@babel/runtime/helpers/esm/asyncToGenerator.js
node_modules/@babel/runtime/helpers/esm/awaitAsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/AwaitValue.js
node_modules/@babel/runtime/helpers/esm/checkPrivateRedeclaration.js
node_modules/@babel/runtime/helpers/esm/classApplyDescriptorDestructureSet.js
node_modules/@babel/runtime/helpers/esm/classApplyDescriptorGet.js
node_modules/@babel/runtime/helpers/esm/classApplyDescriptorSet.js
node_modules/@babel/runtime/helpers/esm/classCallCheck.js
node_modules/@babel/runtime/helpers/esm/classCheckPrivateStaticAccess.js
node_modules/@babel/runtime/helpers/esm/classCheckPrivateStaticFieldDescriptor.js
node_modules/@babel/runtime/helpers/esm/classExtractFieldDescriptor.js
node_modules/@babel/runtime/helpers/esm/classNameTDZError.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldGet.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldInitSpec.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldLooseBase.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldLooseKey.js
node_modules/@babel/runtime/helpers/esm/classPrivateFieldSet.js
node_modules/@babel/runtime/helpers/esm/classPrivateMethodGet.js
node_modules/@babel/runtime/helpers/esm/classPrivateMethodInitSpec.js
node_modules/@babel/runtime/helpers/esm/classPrivateMethodSet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateFieldDestructureSet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateFieldSpecGet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateFieldSpecSet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateMethodGet.js
node_modules/@babel/runtime/helpers/esm/classStaticPrivateMethodSet.js
node_modules/@babel/runtime/helpers/esm/construct.js
node_modules/@babel/runtime/helpers/esm/createClass.js
node_modules/@babel/runtime/helpers/esm/createForOfIteratorHelper.js
node_modules/@babel/runtime/helpers/esm/createForOfIteratorHelperLoose.js
node_modules/@babel/runtime/helpers/esm/createSuper.js
node_modules/@babel/runtime/helpers/esm/decorate.js
node_modules/@babel/runtime/helpers/esm/defaults.js
node_modules/@babel/runtime/helpers/esm/defineEnumerableProperties.js
node_modules/@babel/runtime/helpers/esm/defineProperty.js
node_modules/@babel/runtime/helpers/esm/extends.js
node_modules/@babel/runtime/helpers/esm/get.js
node_modules/@babel/runtime/helpers/esm/getPrototypeOf.js
node_modules/@babel/runtime/helpers/esm/identity.js
node_modules/@babel/runtime/helpers/esm/inherits.js
node_modules/@babel/runtime/helpers/esm/inheritsLoose.js
node_modules/@babel/runtime/helpers/esm/initializerDefineProperty.js
node_modules/@babel/runtime/helpers/esm/initializerWarningHelper.js
node_modules/@babel/runtime/helpers/esm/instanceof.js
node_modules/@babel/runtime/helpers/esm/interopRequireDefault.js
node_modules/@babel/runtime/helpers/esm/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/esm/isNativeFunction.js
node_modules/@babel/runtime/helpers/esm/isNativeReflectConstruct.js
node_modules/@babel/runtime/helpers/esm/iterableToArray.js
node_modules/@babel/runtime/helpers/esm/iterableToArrayLimit.js
node_modules/@babel/runtime/helpers/esm/iterableToArrayLimitLoose.js
node_modules/@babel/runtime/helpers/esm/jsx.js
node_modules/@babel/runtime/helpers/esm/maybeArrayLike.js
node_modules/@babel/runtime/helpers/esm/newArrowCheck.js
node_modules/@babel/runtime/helpers/esm/nonIterableRest.js
node_modules/@babel/runtime/helpers/esm/nonIterableSpread.js
node_modules/@babel/runtime/helpers/esm/objectDestructuringEmpty.js
node_modules/@babel/runtime/helpers/esm/objectSpread.js
node_modules/@babel/runtime/helpers/esm/objectSpread2.js
node_modules/@babel/runtime/helpers/esm/objectWithoutProperties.js
node_modules/@babel/runtime/helpers/esm/objectWithoutPropertiesLoose.js
node_modules/@babel/runtime/helpers/esm/OverloadYield.js
node_modules/@babel/runtime/helpers/esm/package.json
node_modules/@babel/runtime/helpers/esm/possibleConstructorReturn.js
node_modules/@babel/runtime/helpers/esm/readOnlyError.js
node_modules/@babel/runtime/helpers/esm/regeneratorRuntime.js
node_modules/@babel/runtime/helpers/esm/set.js
node_modules/@babel/runtime/helpers/esm/setPrototypeOf.js
node_modules/@babel/runtime/helpers/esm/skipFirstGeneratorNext.js
node_modules/@babel/runtime/helpers/esm/slicedToArray.js
node_modules/@babel/runtime/helpers/esm/slicedToArrayLoose.js
node_modules/@babel/runtime/helpers/esm/superPropBase.js
node_modules/@babel/runtime/helpers/esm/taggedTemplateLiteral.js
node_modules/@babel/runtime/helpers/esm/taggedTemplateLiteralLoose.js
node_modules/@babel/runtime/helpers/esm/tdz.js
node_modules/@babel/runtime/helpers/esm/temporalRef.js
node_modules/@babel/runtime/helpers/esm/temporalUndefined.js
node_modules/@babel/runtime/helpers/esm/toArray.js
node_modules/@babel/runtime/helpers/esm/toConsumableArray.js
node_modules/@babel/runtime/helpers/esm/toPrimitive.js
node_modules/@babel/runtime/helpers/esm/toPropertyKey.js
node_modules/@babel/runtime/helpers/esm/typeof.js
node_modules/@babel/runtime/helpers/esm/unsupportedIterableToArray.js
node_modules/@babel/runtime/helpers/esm/wrapAsyncGenerator.js
node_modules/@babel/runtime/helpers/esm/wrapNativeSuper.js
node_modules/@babel/runtime/helpers/esm/wrapRegExp.js
node_modules/@babel/runtime/helpers/esm/writeOnlyError.js
node_modules/@babel/runtime/regenerator/index.js
node_modules/@remix-run/router/CHANGELOG.md
node_modules/@remix-run/router/history.ts
node_modules/@remix-run/router/index.ts
node_modules/@remix-run/router/LICENSE.md
node_modules/@remix-run/router/package.json
node_modules/@remix-run/router/README.md
node_modules/@remix-run/router/router.ts
node_modules/@remix-run/router/utils.ts
node_modules/@remix-run/router/dist/history.d.ts
node_modules/@remix-run/router/dist/index.d.ts
node_modules/@remix-run/router/dist/router.cjs.js
node_modules/@remix-run/router/dist/router.cjs.js.map
node_modules/@remix-run/router/dist/router.d.ts
node_modules/@remix-run/router/dist/router.js
node_modules/@remix-run/router/dist/router.js.map
node_modules/@remix-run/router/dist/router.umd.js
node_modules/@remix-run/router/dist/router.umd.js.map
node_modules/@remix-run/router/dist/router.umd.min.js
node_modules/@remix-run/router/dist/router.umd.min.js.map
node_modules/@remix-run/router/dist/utils.d.ts
node_modules/react-head/LICENSE
node_modules/react-head/package.json
node_modules/react-head/README.md
node_modules/react-head/dist/index.cjs.js
node_modules/react-head/dist/index.cjs.js.flow
node_modules/react-head/dist/index.esm.js
node_modules/react-head/dist/index.min.js
node_modules/react-head/dist/index.umd.js
node_modules/react-head/src/context.js
node_modules/react-head/src/HeadProvider.js
node_modules/react-head/src/HeadTag.js
node_modules/react-head/src/index.d.ts
node_modules/react-head/src/index.js
node_modules/react-head/src/index.js.flow
node_modules/react-head/src/test_flow.js
node_modules/react-router/CHANGELOG.md
node_modules/react-router/LICENSE.md
node_modules/react-router/package.json
node_modules/react-router/README.md
node_modules/react-router/dist/index.d.ts
node_modules/react-router/dist/index.js
node_modules/react-router/dist/index.js.map
node_modules/react-router/dist/main.js
node_modules/react-router/dist/react-router.development.js
node_modules/react-router/dist/react-router.development.js.map
node_modules/react-router/dist/react-router.production.min.js
node_modules/react-router/dist/react-router.production.min.js.map
node_modules/react-router/dist/lib/components.d.ts
node_modules/react-router/dist/lib/context.d.ts
node_modules/react-router/dist/lib/hooks.d.ts
node_modules/react-router/dist/lib/use-sync-external-store-shim/index.d.ts
node_modules/react-router/dist/lib/use-sync-external-store-shim/useSyncExternalStoreShimClient.d.ts
node_modules/react-router/dist/lib/use-sync-external-store-shim/useSyncExternalStoreShimServer.d.ts
node_modules/react-router/dist/umd/react-router.development.js
node_modules/react-router/dist/umd/react-router.development.js.map
node_modules/react-router/dist/umd/react-router.production.min.js
node_modules/react-router/dist/umd/react-router.production.min.js.map
node_modules/react-router-dom/CHANGELOG.md
node_modules/react-router-dom/LICENSE.md
node_modules/react-router-dom/package.json
node_modules/react-router-dom/README.md
node_modules/react-router-dom/server.d.ts
node_modules/react-router-dom/server.js
node_modules/react-router-dom/server.mjs
node_modules/react-router-dom/dist/dom.d.ts
node_modules/react-router-dom/dist/index.d.ts
node_modules/react-router-dom/dist/index.js
node_modules/react-router-dom/dist/index.js.map
node_modules/react-router-dom/dist/main.js
node_modules/react-router-dom/dist/react-router-dom.development.js
node_modules/react-router-dom/dist/react-router-dom.development.js.map
node_modules/react-router-dom/dist/react-router-dom.production.min.js
node_modules/react-router-dom/dist/react-router-dom.production.min.js.map
node_modules/react-router-dom/dist/server.d.ts
node_modules/react-router-dom/dist/server.js
node_modules/react-router-dom/dist/server.mjs
node_modules/react-router-dom/dist/umd/react-router-dom.development.js
node_modules/react-router-dom/dist/umd/react-router-dom.development.js.map
node_modules/react-router-dom/dist/umd/react-router-dom.production.min.js
node_modules/react-router-dom/dist/umd/react-router-dom.production.min.js.map
node_modules/regenerator-runtime/LICENSE
node_modules/regenerator-runtime/package.json
node_modules/regenerator-runtime/path.js
node_modules/regenerator-runtime/README.md
node_modules/regenerator-runtime/runtime.js
node_modules
web/src/Config.js
web/build/asset-manifest.json
web/build/favicon.ico
web/build/index.html
web/build/logo192.png
web/build/logo512.png
web/build/manifest.json
web/build/robots.txt
web/build/static/css/main.76800e45.css
web/build/static/css/main.76800e45.css.map
web/build/static/js/787.d1d4a2c2.chunk.js
web/build/static/js/787.d1d4a2c2.chunk.js.map
web/build/static/js/main.e511cb33.js
web/build/static/js/main.e511cb33.js.LICENSE.txt
web/build/static/js/main.e511cb33.js.map
web/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
web/src/Config.js
