* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #121212;
}

.div {
    background-color: #121212;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* background-color: #06283d; */
    background-color: rgba(255, 255, 255, 0.16);
}

header>h2 {
    margin-left: 20px;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

nav>a {
    text-decoration-line: none;
    color: white;
}

#navSelected {
    text-decoration-line: underline;
}

.connectivityStatus {
    color: white;
    display: flex;
    gap: 5px;
    user-select: none;
}

.connectivityStatus>p:hover {
    cursor: pointer;
}

.bigSection {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: #121212; */
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
}

.ledList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.led {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    /* opacity: 0.05; */
    width: 60%;
    height: fit-content;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
    border-radius: 20px;
    padding: 20px;
}

.ledOn {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.404);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}