* {
	box-sizing: border-box;
	margin: 0;
}
.div {
	background-color: #dff6ff;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	background-color: #06283d;
}

header > h2 {
	margin-left: 20px;
	color: white;
}

nav {
	display: flex;
	gap: 20px;
	margin-right: 20px;
}

nav > a {
	text-decoration-line: none;
	color: white;
}

#navSelected {
	text-decoration-line: underline;
}

.connectivityStatus {
	color: white;
	display: flex;
	gap: 5px;
	user-select: none;
}

.connectivityStatus > p:hover {
	cursor: pointer;
}

.bigSection {
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	align-items: center;
	background-color: #256d85;
	color: white;
}

.ledList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}

.led {
	display: flex;
	gap: 50px;
	justify-content: center;
}
