.header-map {
    display: flex;
    justify-content: center;
    height: 100px;
}

h1 {
    color: white;
}

.kartaSvg {
    max-width: 60%;
}

.clicked {
    fill: white;
    transition: transform .2s;
    transition: fill .2s;
    /* transform: scale(1.2); */
}